# Python
venv/
__pycache__/
*.pyc
*.pyo
instance/
*.db
.env

# Node
pe360-frontend/node_modules/
pe360-frontend/dist/
pe360-frontend/.env.local
pe360-frontend/.env.production

# OS
.DS_Store
Thumbs.db
